<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        <title>IP Range Converter</title>

        <link href="/css/style.css" media="all" rel="stylesheet" />
</head>
<body>
        <div class="container">
        <form action="convert" method="POST">
                <textarea id="list" name="list" rows=35></textarea>

                <input id="convert_button" type="submit" value="Convert" />
        </form>
        </div>
</body>
</html>